* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* @font-face {
    font-family:"poppins";
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
    font-family: 'poppins',sans-serif;
    font-size:xx-small; 
} */
body {
  background-color: #9633ff;
  padding: 400px 100px;
}
section {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  margin: auto;
  display: grid;
  width: 30%;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
input {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.input-icon .fa-solid {
  position: absolute;
  padding: 6px;
}
input[type="text"] {
  width: 100%;
}
input[type="password"] {
  width: 100%;
}
i {
  color: rgb(0, 0, 0);
}
input[type="button"] {
  width: fit-content;
  display: flex;
  margin: auto;
  padding: 4px 30px;
  border-radius: 5px;
  background-color: #9633ff;
  color: white;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #9633ff;
}
.Signme {
  color: black;
}
p {
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
}
