* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "poppins";
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
  font-family: "poppins", sans-serif;
  font-size: xx-small;
}
body {
  background-color: #9633ff;
  padding-top: 50px;
}
section {
  background-color: white;
  border-radius: 5px;
  margin: auto;
  display: block;
 width:max-content;
  padding: 4rem;
}
h1 {
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.username-container {
  position: relative;
}

input {
  width: 104%;
  padding: 10px;
  padding-left: 40px;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
}
.fa-user,
.fa-envelope,
.fa-lock {
  position: absolute;
  top: 10px;
  left: 10px;
}
input::placeholder {
  font-size: 12px;
}
.Terms{
  font-size: 14px;
  padding-bottom: 5px;
}
button{
  display: block;
  margin: auto;
  width: 100%;
  background-color: blueviolet;
  color: beige;
  border-radius: 10px;
  padding: 10px;
}
.Signin{
   font-size: 14px;
  padding-top:10px;
}

input:hover {
  border-color: #007bff; /* Change to blue when hovered */
}
input:focus {
  border-color: #007bff; 
  background-color: #eaffea; /* Light green background */
}